.no-itens-found{
    text-align: center;
    width: 100%;
}

.users-block{
    width: 100%;
    &__user-block{
        margin-bottom: 2%;
        font-size: 1.3rem;
        background-color: #ddd;
        border-radius: 10px;
        padding: 3%;
    }
}
